/* public/style.css */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#chat-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#chat-messages {
    height: 300px;
    overflow-y: scroll;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.message {
    padding: 5px 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.current-user {
    background-color: #DCF8C6;
    align-self: flex-end;
}

.other-user {
    background-color: #F0F0F0;
}

#message-input {
    width: calc(100% - 70px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send-btn {
    width: 50px;
    padding: 10px;
    margin-left: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}

#startButton {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: #fff;
    cursor: pointer;
}
